node-red/examples/example-flow.json
[{"id":"50d3485e.a9eb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2ee56622.0ccb3a","type":"mqtt in","z":"50d3485e.a9eb8","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","broker":"35ae65dc.462ae2","x":190,"y":400,"wires":[["8adb6623.793e58"]]},{"id":"8adb6623.793e58","type":"ook_decode","z":"50d3485e.a9eb8","name":"Weather RF Decode","startPattern":"[9000]","zeroPattern":"[500,2000]","onePattern":"[500,4000]","acceptedDeviation":"0.3","x":540,"y":400,"wires":[["a03398a8.742818"]]},{"id":"a03398a8.742818","type":"function","z":"50d3485e.a9eb8","name":"Weather","func":"    function binaryToNumber(input) {\n        return input.reduceRight(\n            ((previousValue, currentValue, currentIndex, array) => Math.pow(2, (array.length - currentIndex - 1)) * currentValue + previousValue), 0);\n    }\n\n    let bits = msg.payload;\n\n    if (bits.length != 42) {\n        return;\n    }\n\n    let temperatureBits1 = bits.slice(14, 18);\n    let temperatureBits2 = bits.slice(18, 22);\n    let temperatureBits3 = bits.slice(22, 26);\n    let temperatureMsg = {payload: ((binaryToNumber(temperatureBits3.concat(temperatureBits2.concat(temperatureBits1))) - 900) / 10.0)};\n\n    let humidityBits1 = bits.slice(26, 30);\n    let humidityBits2 = bits.slice(30, 34);\n    let humidityMsg = {payload: binaryToNumber(humidityBits2.concat(humidityBits1))};\n\n    return [temperatureMsg, humidityMsg];","outputs":2,"noerr":0,"x":740,"y":400,"wires":[["5f4cd79a.fc0c28"],["135c3068.7c5748"]]},{"id":"5f4cd79a.fc0c28","type":"debug","z":"50d3485e.a9eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":380,"wires":[]},{"id":"135c3068.7c5748","type":"debug","z":"50d3485e.a9eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":420,"wires":[]},{"id":"f042f92c.ddad98","type":"mqtt out","z":"50d3485e.a9eb8","name":"","topic":"home/OpenMQTTGateway/commands/MQTTto433","qos":"","retain":"","broker":"35ae65dc.462ae2","x":810,"y":540,"wires":[]},{"id":"943cd326.04b9e","type":"function","z":"50d3485e.a9eb8","name":"PIR","func":"let bits = msg.payload;\n\n\nif (bits.length != 24) {\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":540,"wires":[["38da1e11.9d2972"]]},{"id":"c37d8eb4.fafb98","type":"ook_encode","z":"50d3485e.a9eb8","name":"Switch","startPattern":"[10000]","zeroPattern":"[350,820]","onePattern":"[820,350]","x":510,"y":540,"wires":[["f042f92c.ddad98"]]},{"id":"38da1e11.9d2972","type":"change","z":"50d3485e.a9eb8","name":"Switch On Command","rules":[{"t":"set","p":"payload","pt":"msg","to":"[0,0,0,0,0,0,1,1,0,1,1,1,0,0,1,0,0,0,0,0,1,1,1,1,0,1,1,1,1,1,1,1,0]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":540,"wires":[["c37d8eb4.fafb98"]]},{"id":"35ae65dc.462ae2","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.0.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]