node-red/lib/flows/Doppelschalter.json
[{"id":"d56fff9b.db74a","type":"mqtt in","z":"be562532.8a3e88","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","broker":"8dedea5b.a3df88","x":490,"y":500,"wires":[["7c1d2dd9.5aca64"]]},{"id":"7c1d2dd9.5aca64","type":"ook_decode","z":"be562532.8a3e88","name":"","startPattern":"[2600]","zeroPattern":"[280]","onePattern":"[1300]","acceptedDeviation":0.3,"x":750,"y":500,"wires":[["ad626d08.cf5458"]]},{"id":"db8a157b.b84668","type":"switch","z":"be562532.8a3e88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"[0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0]","vt":"str"},{"t":"eq","v":"[0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0]","vt":"str"},{"t":"eq","v":"[0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0]","vt":"str"},{"t":"eq","v":"[0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0]","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1130,"y":500,"wires":[["db81f3ed.6d26e"],["3ac68612.5c063a"],["18275dd5.c92d72"],["f57b705f.fdb618"]]},{"id":"db81f3ed.6d26e","type":"change","z":"be562532.8a3e88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":440,"wires":[[]]},{"id":"3ac68612.5c063a","type":"change","z":"be562532.8a3e88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":480,"wires":[[]]},{"id":"ad626d08.cf5458","type":"function","z":"be562532.8a3e88","name":"Remove trailing bit","func":"if (msg.payload.length===130){\n  msg.payload.splice(129,1);\n}\nif (msg.payload.length===129){\n  msg.payload=\"[\"+msg.payload.toString()+\"]\";\n  return msg;    \n}","outputs":1,"noerr":0,"x":950,"y":500,"wires":[["db8a157b.b84668"]]},{"id":"18275dd5.c92d72","type":"change","z":"be562532.8a3e88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":540,"wires":[[]]},{"id":"f57b705f.fdb618","type":"change","z":"be562532.8a3e88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":580,"wires":[[]]},{"id":"8dedea5b.a3df88","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.0.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]