node-red/lib/flows/Magnetschalter.json
[{"id":"5b7c7885.cdd05","type":"mqtt in","z":"2e628645.019f02","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","broker":"8dedea5b.a3df88","x":230,"y":340,"wires":[["7e5c5b7b.1adc5c"]]},{"id":"7e5c5b7b.1adc5c","type":"ook_decode","z":"2e628645.019f02","name":"","startPattern":"[14000]","zeroPattern":"[1370,460]","onePattern":"[460,1370]","acceptedDeviation":0.3,"x":490,"y":340,"wires":[["885ce97b.a081"]]},{"id":"885ce97b.a081","type":"function","z":"2e628645.019f02","name":"Remove trailing bit","func":"if (msg.payload.length===25){\n  msg.payload.splice(24,1);\n}\nif (msg.payload.length===24){\n  msg.payload=\"[\"+msg.payload.toString()+\"]\";\n  return msg;    \n}","outputs":1,"noerr":0,"x":670,"y":340,"wires":[["a9053173.ca7e7"]]},{"id":"a9053173.ca7e7","type":"switch","z":"2e628645.019f02","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"[1,1,1,0,0,1,0,0,0,1,0,1,1,0,0,1,1,1,1,1,0,1,0,1]","vt":"str"},{"t":"eq","v":"[1,1,1,0,0,1,0,0,0,1,0,1,1,0,0,1,1,1,1,1,0,0,0,1]","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":340,"wires":[["66f49b30.59d10c"],["fcaf134b.14b2d8"]]},{"id":"66f49b30.59d10c","type":"change","z":"2e628645.019f02","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"16747520","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":320,"wires":[[]]},{"id":"fcaf134b.14b2d8","type":"change","z":"2e628645.019f02","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":360,"wires":[[]]},{"id":"8dedea5b.a3df88","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.0.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]