node-red/lib/flows/PIR.json
[{"id":"f9a0b69d.ab3a","type":"mqtt in","z":"304145bc.3c53b2","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","broker":"8dedea5b.a3df88","x":330,"y":520,"wires":[["55385180.eaffc"]]},{"id":"55385180.eaffc","type":"ook_decode","z":"304145bc.3c53b2","name":"","startPattern":"[12511]","zeroPattern":"[1240,400]","onePattern":"[400,1240]","acceptedDeviation":0.3,"x":570,"y":520,"wires":[["195029c0.3bd306"]]},{"id":"195029c0.3bd306","type":"function","z":"304145bc.3c53b2","name":"Remove trailing bit","func":"if (msg.payload.length===25){\n  msg.payload.splice(24,1);\n}\nif (msg.payload.length===24){\n  msg.payload=\"[\"+msg.payload.toString()+\"]\";\n  return msg;    \n}","outputs":1,"noerr":0,"x":750,"y":520,"wires":[["1ae37b6.e855185"]]},{"id":"1ae37b6.e855185","type":"switch","z":"304145bc.3c53b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"[0,0,0,1,1,0,1,0,1,0,1,1,1,0,0,0,1,1,1,1,0,0,0,1]","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":520,"wires":[["29dc1c68.dc8ecc"]]},{"id":"29dc1c68.dc8ecc","type":"change","z":"304145bc.3c53b2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":520,"wires":[[]]},{"id":"8dedea5b.a3df88","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.0.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]