node-red/lib/flows/RFSpy.json
[{"id":"9097ed40.b3116","type":"ook_concat","z":"1e1a4646.fa3dda","x":570,"y":420,"wires":[["2a3a8fdd.7e0e88"]]},{"id":"90b6d44d.ddaa28","type":"mqtt in","z":"1e1a4646.fa3dda","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","broker":"8dedea5b.a3df88","x":330,"y":420,"wires":[["9097ed40.b3116"]]},{"id":"2a3a8fdd.7e0e88","type":"debug","z":"1e1a4646.fa3dda","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":420,"wires":[]},{"id":"8dedea5b.a3df88","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.0.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]