node-red/lib/flows/Steckdose_schalten.json
[{"id":"c5b8c896.2255d","type":"mqtt out","z":"349217f3.ded788","name":"","topic":"home/OpenMQTTGateway/commands/MQTTto433","qos":"2","retain":"","broker":"8dedea5b.a3df88","x":750,"y":380,"wires":[]},{"id":"75dfb56c.07ef54","type":"inject","z":"349217f3.ded788","name":"aus","topic":"","payload":"100 100 696 474 268 135 365 333 263 164 101 433 197 202 266 134 5046 132 3178 2174 3709 100 10396 102 9032 133 1674 6269 130 196 100 197 1612 134 18540 2574 100 11158 739 101 1191 162 527 133 10017 101 643 1923 2716 366 100 631 133 1285 102 2675 9337 1306 100 1598 4340 656 131 1112 236 3269 489 100 2008 1274 101 707 435 299 101 1232 100 11777 103 3687 365 100 2397 7478 5613 102 405 102 598 16152 393 625 495 201 165 262 264 1213 1308 428 2374 1049 493 256 1265 1075 443 319 1226 1069 479 284 1258 1070 450 313 1229 282 1260 1069 485 283 1220 1080 458 1074 481 1070 448 1082 480 284 1258 285 1225 315 1224 1077 479 293 1225 1078 483 1049 482 312 1222 317 1206 297 2393 1070 472 291 1243 1075 477 287 1224 1068 478 285 1257 1069 448 314 1225 315 1227 1068 455 352 1218 1062 469 1075 453 1068 483 1074 443 318 1224 318 1222 316 1231 1052 456 351 1220 1062 469 1077 451 288 1265 310 1218 316 2351 1086 451 310 1247 1076 454 292 1265 1047 478 284 1260 1056 457 317 1256 266 1237 1075 483 310 1219 1069 474 1074 445 1078 459 1075 485 309 1220 317 1225 298 1211 1076 483 293 1231 1082 448 1094 460 317 1223 294 1233 324 2360 1092 465 289 1239 1077 481 274 1252 1068 452 309 1215 1075 484 294 1227 309 1254 1052 488 301 1205 1070 485 1078 447 1080 472 1070 448 315 1224 315 1226 313 1224 1065 485 279 1257 1069 459 1085 453 296 1269 258 1267 2997 7267 967 580 440 1121 944 578 439 1102 954 622 385 1134 941 601 412 1137 399 1132 942 614 412 1109 959 620 907 621 924 603 943 615 411 1110 425 1113 415 1157 907 620 427 1101 941 613 944 581 428 1115 451 1117 2967 7307 954 577 449 1110 943 614 404 1116 943 589 423 1107 952 614 413 1108 463 1079 947 623 419 1112 953 584 942 612 929 619 918 621 418 1112 452 1094 415 1106 961 589 450 1116 913 617 953 583 452 1075 464 1109 2997 7294 939 591 428 1104 945 612 415 1106 955 588 447 1097 942 590 453 1111 411 1116 944 610 437 1107 950 591 939 590 946 616 937 588 452 1109 434 1110 422 1088 972 591 427 1103 973 581 945 580 463 1079 452 1120 2989 7277 948 613 411 1112 947 614 433 1077 949 623 418 1112 931 627 419 1111 439 1111 948 588 418 1111 952 589 942 611 933 619 951 587 418 1140 400 1129 418 1113 932 619 420 1117 942 589 950 612 410 1113 449 288","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":420,"wires":[["68047633.f60978"]]},{"id":"a12de902.a5259","type":"inject","z":"349217f3.ded788","name":"an","topic":"","payload":"2402 1000 540 231 1296 1011 517 258 1266 1039 514 1022 527 247 1286 264 1268 1044 450 309 1252 1068 475 308 1209 290 1246 289 1268 1043 478 286 1259 312 1221 319 1220 293 1230 1074 483 1045 477 1068 479 285 1255 284 1256 285 2378 1075 456 319 1232 1068 447 319 1257 1067 444 1066 473 316 1225 317 1228 1079 449 311 1226 1066 487 315 1217 288 1241 294 1230 1077 447 349 1221 320 1191 322 1217 320 1237 1078 446 1085 448 1087 454 311 1210 320 1239 292 2387 1082 467 289 1237 1068 481 287 1226 1101 443 1100 444 315 1225 285 1257 1053 453 341 1226 1064 473 320 1192 331 1243 289 1238 1078 446 312 1221 319 1238 301 1208 322 1230 1068 479 1067 445 1101 446 311 1221 319 1227 295 2391 1068 472 290 1243 1075 447 345 1215 1052 482 1058 474 291 1244 288 1264 1077 445 311 1253 1065 455 307 1213 323 1234 309 1220 1067 453 313 1246 287 1243 293 1229 346 1187 1074 489 1064 469 1074 454 293 1233 345 1220 2982 7289 942 613 446 1069 955 619 419 1119 943 589 951 577 453 1086 445 1106 954 590 417 1152 912 615 410 1119 451 1072 464 1109 949 587 417 1115 442 1125 420 1109 436 1108 951 589 946 587 955 585 449 1109 433 1114 2970 7295 941 622 400 1130 943 613 412 1109 953 590 945 588 424 1141 408 1118 944 614 432 1111 921 600 444 1102 412 1136 409 1130 944 578 441 1104 428 1113 451 1088 444 1119 923 608 944 614 942 582 426 1111 447 1104 3000 7289 943 612 399 1133 951 611 410 1109 955 592 946 589 425 1140 420 1118 942 582 423 1112 943 622 419 1106 441 1103 419 1115 937 616 426 1118 415 1119 425 1104 452 1084 973 581 957 589 944 621 386 1140 408 1120 2996 7302 960 588 417 1113 953 588 451 1110 932 589 944 590 453 1111 418 1127 946 580 427 1113 949 600 441 1110 429 1104 450 1109 943 582 427 1118 414 1119 426 1105 440 1128 946 576 965 574 955 587 450 1088 445 3927","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":340,"wires":[["68047633.f60978"]]},{"id":"68047633.f60978","type":"ook_split","z":"349217f3.ded788","x":460,"y":380,"wires":[["c5b8c896.2255d"]]},{"id":"8dedea5b.a3df88","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.0.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]