node-red/lib/flows/SteckdosenFernbedienung.json
[{"id":"90f494da.8fb538","type":"mqtt in","z":"399943f1.c71dec","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","broker":"8dedea5b.a3df88","x":290,"y":420,"wires":[["a6a07d32.a8e828"]]},{"id":"a6a07d32.a8e828","type":"ook_decode","z":"399943f1.c71dec","name":"","startPattern":"[400,2340]","zeroPattern":"[300,1240]","onePattern":"[1030,480]","acceptedDeviation":0.3,"x":530,"y":420,"wires":[["1ff3e146.a11497"]]},{"id":"1ff3e146.a11497","type":"function","z":"399943f1.c71dec","name":"Array to string","func":"msg.payload=msg.payload.splice(0,24);\nmsg.payload=\"[\"+msg.payload.toString()+\"]\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":420,"wires":[["9745b7e4.9e3a48"]]},{"id":"9745b7e4.9e3a48","type":"switch","z":"399943f1.c71dec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"[1,0,1,0,0,1,0,0,1,1,1,0,1,1,1,1,0,1,1,0,1,1,0,0]","vt":"str"},{"t":"eq","v":"[1,0,1,0,1,0,1,1,0,0,1,1,0,1,1,1,0,1,0,1,1,1,0,0]","vt":"str"},{"t":"eq","v":"[1,0,1,0,1,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,1,1,0,0]","vt":"str"},{"t":"eq","v":"[1,0,1,0,0,0,1,1,0,0,0,0,0,0,1,1,1,0,1,0,1,1,0,0]","vt":"str"},{"t":"eq","v":"[1,0,1,0,0,1,0,1,1,0,0,1,0,0,0,1,0,1,1,1,1,1,0,0]","vt":"str"},{"t":"eq","v":"[1,0,1,0,1,0,0,1,0,1,1,0,0,1,1,0,1,0,1,1,1,1,0,0]","vt":"str"},{"t":"eq","v":"[1,0,1,0,1,0,1,0,0,1,0,1,1,1,1,0,0,0,1,0,1,1,0,0]","vt":"str"},{"t":"eq","v":"[1,0,1,0,1,1,1,1,1,1,0,0,1,1,0,1,1,0,0,0,1,1,0,0]","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":850,"y":420,"wires":[["d1cf8eda.5a1ec8"],["d1cf8eda.5a1ec8"],["d1cf8eda.5a1ec8"],["d1cf8eda.5a1ec8"],["ae49cbde.a5d128"],["ae49cbde.a5d128"],["ae49cbde.a5d128"],["ae49cbde.a5d128"]]},{"id":"d1cf8eda.5a1ec8","type":"change","z":"399943f1.c71dec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"on\": true, \"color\": \"#FF4400\",\"brightness\": 100 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":400,"wires":[[]]},{"id":"ae49cbde.a5d128","type":"change","z":"399943f1.c71dec","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"on\": false, \"color\": \"#FF4400\",\"brightness\": 100 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":440,"wires":[[]]},{"id":"8dedea5b.a3df88","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.0.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]