node-red/lib/flows/SteckdosenSchalter.json
[{"id":"efb08977.89e4e","type":"mqtt out","z":"fa74c4ff.c951f8","name":"","topic":"esphome/MQTTto433","qos":"2","retain":"","broker":"93d2467e.42d23","x":1160,"y":500,"wires":[]},{"id":"22b7f7b7.89565","type":"inject","z":"fa74c4ff.c951f8","name":"aus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,1,0,0]","payloadType":"str","x":450,"y":540,"wires":[["612dfee5.8b012"]]},{"id":"612dfee5.8b012","type":"ook_encode","z":"fa74c4ff.c951f8","name":"","startPattern":"[9000]","zeroPattern":"[300, 900]","onePattern":"[900, 300]","x":810,"y":500,"wires":[["efb08977.89e4e"]]},{"id":"dd766ef7.960b3","type":"inject","z":"fa74c4ff.c951f8","name":"an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,0,0,1]","payloadType":"str","x":470,"y":420,"wires":[["612dfee5.8b012"]]},{"id":"93d2467e.42d23","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]