node-red/lib/flows/Steckdose_schalten.json
[{"id":"dd64d240.763a8","type":"mqtt out","z":"150be1b5.30e7e6","name":"","topic":"home/OpenMQTTGateway/commands/MQTTto433","qos":"2","retain":"","broker":"3cf6f77d.f90798","x":1170,"y":480,"wires":[]},{"id":"dd60145e.69a2b","type":"inject","z":"150be1b5.30e7e6","name":"aus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 90","payloadType":"str","x":570,"y":520,"wires":[["d4df2864.b3608"]]},{"id":"61c85aa8.878974","type":"inject","z":"150be1b5.30e7e6","name":"an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 30","payloadType":"str","x":570,"y":420,"wires":[["d4df2864.b3608"]]},{"id":"d4df2864.b3608","type":"ook_split","z":"150be1b5.30e7e6","x":880,"y":480,"wires":[["dd64d240.763a8"]]},{"id":"3cf6f77d.f90798","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]