node-red/lib/flows/Wetter_Steckdose.json
[{"id":"eed17444.bf6fa","type":"mqtt in","z":"d2ea348b.09fba8","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","datatype":"auto","broker":"26472ec4.4b5cc2","x":430,"y":280,"wires":[["c3cceaff.67bd9"]]},{"id":"c3cceaff.67bd9","type":"ook_decode","z":"d2ea348b.09fba8","name":"Weather RF Decode","startPattern":"[9000]","zeroPattern":"[500,2000]","onePattern":"[500,4000]","acceptedDeviation":"0.3","x":720,"y":280,"wires":[["765c4dda.22c98c"]]},{"id":"bb14c302.15ebb8","type":"debug","z":"d2ea348b.09fba8","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":240,"wires":[]},{"id":"765c4dda.22c98c","type":"function","z":"d2ea348b.09fba8","name":"Weather","func":"    function binaryToNumber(input) {\n        return input.reduceRight(\n            ((previousValue, currentValue, currentIndex, array) => Math.pow(2, (array.length - currentIndex - 1)) * currentValue + previousValue), 0);\n    }\n\n    let bits = msg.payload;\n\n    if (bits.length != 40) {\n        return;\n    }\n\n    let temperatureBits = bits.slice(16, 28);\n    let temperature = binaryToNumber(temperatureBits);\n    temperature = (((temperature*10)-9000)-3200)*(5/9);\n    let temperatureMsg = {payload: (temperature / 100.0)};\n\n    let humidityBits1 = bits.slice(28, 32);\n    let humidityBits2 = bits.slice(32, 36);\n    let humidity = binaryToNumber(humidityBits1)*10+binaryToNumber(humidityBits2);\n    let humidityMsg = {payload: humidity};\n\n    return [temperatureMsg, humidityMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":980,"y":280,"wires":[["bb14c302.15ebb8"],["3a56a0a7.89ddd8"]],"outputLabels":["Temperature","Humidity"]},{"id":"3a56a0a7.89ddd8","type":"debug","z":"d2ea348b.09fba8","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":300,"wires":[]},{"id":"620a4646.9b526","type":"mqtt out","z":"d2ea348b.09fba8","name":"","topic":"home/OpenMQTTGateway/commands/MQTTto433","qos":"2","retain":"","broker":"26472ec4.4b5cc2","x":1070,"y":520,"wires":[]},{"id":"7f22c255.96919c","type":"inject","z":"d2ea348b.09fba8","name":"aus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 90","payloadType":"str","x":610,"y":560,"wires":[["64ccf157.78388"]]},{"id":"fc6fd579.de473","type":"inject","z":"d2ea348b.09fba8","name":"an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 300 300 9000 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 300 900 900 300 300 900 900 300 300 900 900 300 300 900 900 300 300 900 300 900 300 900 900 30","payloadType":"str","x":610,"y":480,"wires":[["64ccf157.78388"]]},{"id":"64ccf157.78388","type":"ook_split","z":"d2ea348b.09fba8","x":780,"y":520,"wires":[["620a4646.9b526"]]},{"id":"26472ec4.4b5cc2","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]