node-red/lib/flows/Wetter.json
[{"id":"2af363f2.c303b4","type":"mqtt in","z":"150be1b5.30e7e6","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","datatype":"auto","broker":"3cf6f77d.f90798","x":530,"y":240,"wires":[["2ecd3d74.487ea2"]]},{"id":"2ecd3d74.487ea2","type":"ook_decode","z":"150be1b5.30e7e6","name":"Weather RF Decode","startPattern":"[9000]","zeroPattern":"[500,2000]","onePattern":"[500,4000]","acceptedDeviation":"0.3","x":820,"y":240,"wires":[["f33de22a.5674b8"]]},{"id":"6b6dde6b.b0c508","type":"debug","z":"150be1b5.30e7e6","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":200,"wires":[]},{"id":"f33de22a.5674b8","type":"function","z":"150be1b5.30e7e6","name":"Weather","func":"    function binaryToNumber(input) {\n        return input.reduceRight(\n            ((previousValue, currentValue, currentIndex, array) => Math.pow(2, (array.length - currentIndex - 1)) * currentValue + previousValue), 0);\n    }\n\n    let bits = msg.payload;\n\n    if (bits.length != 40) {\n        return;\n    }\n\n    let temperatureBits = bits.slice(16, 28);\n    let temperature = binaryToNumber(temperatureBits);\n    temperature = (((temperature*10)-9000)-3200)*(5/9);\n    let temperatureMsg = {payload: (temperature / 100.0)};\n\n    let humidityBits1 = bits.slice(28, 32);\n    let humidityBits2 = bits.slice(32, 36);\n    let humidity = binaryToNumber(humidityBits1)*10+binaryToNumber(humidityBits2);\n    let humidityMsg = {payload: humidity};\n\n    return [temperatureMsg, humidityMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1080,"y":240,"wires":[["6b6dde6b.b0c508"],["bce3a0fa.1bb388"]],"outputLabels":["Temperature","Humidity"]},{"id":"bce3a0fa.1bb388","type":"debug","z":"150be1b5.30e7e6","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":260,"wires":[]},{"id":"3cf6f77d.f90798","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]