node-red/lib/flows/Wetter.json
[{"id":"9ed4c663.1496","type":"mqtt in","z":"fa74c4ff.c951f8","name":"","topic":"/esphome/433toMQTT","qos":"2","datatype":"auto","broker":"8fc5250b.21aad","x":540,"y":160,"wires":[["8be8f4eb.f05d28"]]},{"id":"8be8f4eb.f05d28","type":"ook_decode","z":"fa74c4ff.c951f8","name":"Weather RF Decode","startPattern":"[9000]","zeroPattern":"[500,2000]","onePattern":"[500,4000]","acceptedDeviation":"0.3","x":840,"y":160,"wires":[["929b624a.3f5e08"]]},{"id":"9c7d846f.30891","type":"debug","z":"fa74c4ff.c951f8","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":120,"wires":[]},{"id":"929b624a.3f5e08","type":"function","z":"fa74c4ff.c951f8","name":"Weather","func":"    function binaryToNumber(input) {\n        return input.reduceRight(\n            ((previousValue, currentValue, currentIndex, array) => Math.pow(2, (array.length - currentIndex - 1)) * currentValue + previousValue), 0);\n    }\n\n    let bits = msg.payload;\n\n    if (bits.length != 40) {\n        return;\n    }\n\n    let temperatureBits = bits.slice(16, 28);\n    let temperature = binaryToNumber(temperatureBits);\n    temperature = (((temperature*10)-9000)-3200)*(5/9);\n    let temperatureMsg = {payload: (temperature / 100.0)};\n\n    let humidityBits1 = bits.slice(28, 32);\n    let humidityBits2 = bits.slice(32, 36);\n    let humidity = binaryToNumber(humidityBits1)*10+binaryToNumber(humidityBits2);\n    let humidityMsg = {payload: humidity};\n\n    return [temperatureMsg, humidityMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1040,"y":160,"wires":[["9c7d846f.30891"],["cd43aa6a.9e1778"]],"outputLabels":["Temperature","Humidity",""]},{"id":"cd43aa6a.9e1778","type":"debug","z":"fa74c4ff.c951f8","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":200,"wires":[]},{"id":"8fc5250b.21aad","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]