node-red/lib/flows/Wetter.json
[{"id":"2841c0e3.adb718","type":"mqtt in","z":"433fc9b0.4ec03","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","broker":"f17a5c60.c88168","x":310,"y":300,"wires":[["4a8a0243.383f64"]]},{"id":"4a8a0243.383f64","type":"ook_decode","z":"433fc9b0.4ec03","name":"Weather RF Decode","startPattern":"[9000]","zeroPattern":"[500,2000]","onePattern":"[500,4000]","acceptedDeviation":"0.3","x":600,"y":300,"wires":[["3c687fab.a495b"]]},{"id":"3c687fab.a495b","type":"function","z":"433fc9b0.4ec03","name":"Weather","func":"    function binaryToNumber(input) {\n        return input.reduceRight(\n            ((previousValue, currentValue, currentIndex, array) => Math.pow(2, (array.length - currentIndex - 1)) * currentValue + previousValue), 0);\n    }\n\n    let bits = msg.payload;\n\n    if (bits.length != 42) {\n        return;\n    }\n\n    let temperatureBits1 = bits.slice(14, 18);\n    let temperatureBits2 = bits.slice(18, 22);\n    let temperatureBits3 = bits.slice(22, 26);\n    let temperatureMsg = {payload: ((binaryToNumber(temperatureBits3.concat(temperatureBits2.concat(temperatureBits1))) - 900) / 10.0)};\n\n    let humidityBits1 = bits.slice(26, 30);\n    let humidityBits2 = bits.slice(30, 34);\n    let humidityMsg = {payload: binaryToNumber(humidityBits2.concat(humidityBits1))};\n\n    return [temperatureMsg, humidityMsg];","outputs":2,"noerr":0,"x":800,"y":300,"wires":[["d7fe35aa.1ecf88"],["f5d44a3f.a0021"]]},{"id":"d7fe35aa.1ecf88","type":"debug","z":"433fc9b0.4ec03","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":280,"wires":[]},{"id":"f5d44a3f.a0021","type":"debug","z":"433fc9b0.4ec03","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":320,"wires":[]},{"id":"f17a5c60.c88168","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.0.58","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]