node-red/lib/flows/Wetter_Steckdose.json
[{"id":"889080a6.ff07e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98a69e41.9296e8","type":"mqtt in","z":"889080a6.ff07e","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","datatype":"auto","broker":"26472ec4.4b5cc2","x":430,"y":280,"wires":[["807335a1.da1a1"]]},{"id":"807335a1.da1a1","type":"ook_decode","z":"889080a6.ff07e","name":"Weather RF Decode","startPattern":"[9000]","zeroPattern":"[500,2000]","onePattern":"[500,4000]","acceptedDeviation":"0.3","x":720,"y":280,"wires":[["7a9ab55b.5faab4"]]},{"id":"15e05e38.17a782","type":"debug","z":"889080a6.ff07e","name":"Temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":240,"wires":[]},{"id":"7a9ab55b.5faab4","type":"function","z":"889080a6.ff07e","name":"Weather","func":"    function binaryToNumber(input) {\n        return input.reduceRight(\n            ((previousValue, currentValue, currentIndex, array) => Math.pow(2, (array.length - currentIndex - 1)) * currentValue + previousValue), 0);\n    }\n\n    let bits = msg.payload;\n\n    if (bits.length != 40) {\n        return;\n    }\n\n    let temperatureBits = bits.slice(16, 28);\n    let temperature = binaryToNumber(temperatureBits);\n    temperature = (((temperature*10)-9000)-3200)*(5/9);\n    let temperatureMsg = {payload: (temperature / 100.0)};\n\n    let humidityBits1 = bits.slice(28, 32);\n    let humidityBits2 = bits.slice(32, 36);\n    let humidity = binaryToNumber(humidityBits1)*10+binaryToNumber(humidityBits2);\n    let humidityMsg = {payload: humidity};\n\n    return [temperatureMsg, humidityMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":980,"y":280,"wires":[["15e05e38.17a782"],["1c14152e.1e081b"]],"outputLabels":["Temperature","Humidity"]},{"id":"1c14152e.1e081b","type":"debug","z":"889080a6.ff07e","name":"Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":300,"wires":[]},{"id":"93164395.7de27","type":"ook_concat","z":"889080a6.ff07e","x":730,"y":720,"wires":[["c9e55d13.c6c21"]]},{"id":"fe0ae5ce.c0a1","type":"mqtt in","z":"889080a6.ff07e","name":"","topic":"home/OpenMQTTGateway/433toMQTT","qos":"2","datatype":"auto","broker":"26472ec4.4b5cc2","x":490,"y":720,"wires":[["93164395.7de27"]]},{"id":"9624f24a.c02f48","type":"debug","z":"889080a6.ff07e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":720,"wires":[]},{"id":"c9e55d13.c6c21","type":"function","z":"889080a6.ff07e","name":"","func":"if(msg.payload.length < 1000){\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":720,"wires":[["9624f24a.c02f48","f81f5724.b9b6e"]]},{"id":"edff649b.e003e","type":"mqtt out","z":"889080a6.ff07e","name":"","topic":"home/OpenMQTTGateway/commands/MQTTto433","qos":"2","retain":"","broker":"26472ec4.4b5cc2","x":950,"y":900,"wires":[]},{"id":"d86da45a.27de68","type":"inject","z":"889080a6.ff07e","name":"aus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"925 909 311 287 927 309 889 317 9425 288 902 314 902 298 935 276 928 305 914 312 892 309 916 310 893 308 918 311 895 309 918 300 925 284 934 883 321 319 904 886 321 319 904 884 355 283 898 911 320 284 931 911 320 285 930 257 932 315 9410 305 908 286 925 320 896 296 934 277 930 304 914 300 925 284 902 291 949 277 930 303 911 300 923 284 933 882 320 279 957 881 332 278 937 901 298 318 915 904 311 286 927 911 310 286 936 260 951 278 9419 317 925 276 925 278 924 311 926 276 919 311 894 309 919 298 923 284 933 294 927 272 922 317 925 275 923 914 313 285 926 914 315 285 927 877 351 284 926 873 350 285 894 908 317 320 464 141 306 899 319 283 9406 311 916 287 922 310 928 278 916 286 955 278 930 277 923 310 929 276 919 311 895 309 916 913 298 317 923 877 339 284 927 876 339 285 926 877 342 284 927 911 310 878 331 899 318 897 326 908 304 279 9438 299 922 284 933 291 921 285 923 320 897 294 930 278 934 302 910 300 925 284 916 292 930 900 289 322 911 913 299 317 904 910 319 278 925 913 304 278 932 896 323 896 351 887 300 916 303 925 320 277 923","payloadType":"str","x":490,"y":940,"wires":[["5026362d.5a8b3"]]},{"id":"1a219910.5a317f","type":"inject","z":"889080a6.ff07e","name":"an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1368 189 6228 1528 4945 916 885 10430 100 1363 1198 364 132 131 100 166 494 230 164 817 685 16031 234 167 300 260 132 295 131 197 622 131 231 325 100 396 131 871 11824 364 913 276 932 304 908 288 929 281 934 294 925 286 929 282 923 292 931 280 941 261 953 286 926 282 924 910 310 284 924 911 312 284 927 911 312 285 929 879 342 283 950 878 347 248 958 258 932 283 9431 321 894 292 927 283 931 290 904 315 933 265 939 277 930 304 914 300 927 284 935 258 950 278 932 303 909 884 328 313 888 912 336 285 926 877 339 286 927 879 339 286 902 912 320 278 959 284 903 290 9415 310 925 278 922 310 928 276 918 298 922 320 897 294 924 284 924 320 897 294 928 277 932 304 908 285 926 912 295 311 923 887 328 312 888 911 336 285 904 913 321 278 926 913 305 278 932 316 898 292 9417 311 928 276 919 310 926 276 918 310 929 276 914 286 923 309 929 277 917 287 957 278 929 277 916 288 958 872 323 284 935 916 297 315 923 877 336 285 927 876 341 286 917 910 311 287 927 310 921 284 9391 322 901 316 900 297 931 285 924 320 911 257 932 313 929 284 918 309 920 284 927 274 923 316 923 275 924 913 313 285 926 914 315 285 927 877 350 285 893 908 317 320 895 903 314 278 957 286 908 290 9446 276 928 314 914 256 957 277 927 314 914 256 957 284 928 259 932 313 930 283 929 274 923 316 915 287 929 903 289 319 910 916 296 316 918 876 340 285 927 909 309 286 927 909 309 286 919 292 929 282 9432 293 926 277 930 304 910 285 924 319 896 296 930 285 924 320 896 294 927 284 926 320 898 295 924 285 926 910 295 309 919 901 335 285 903 909 320 279 925 913 314 283 925 912 312 285 926 316 889 309 9424 285 934 291 922 277 932 303 907 285 925 320 896 296 929 285 927 320 898 294 923 285 924 320 898 294 929 886 326 313 887 912 336 285 918 911 309 286 918 908 311 287 931 910 310 280 928 305 914 311 9399 317 918 256 956 284 926 302 904 286 924 320 896 296 934 271 921 317 903 290 949 278 934 268 937 285 926 910 295 310 923 882 329 315 915 903 310 286 927 910 310 287 928 908 310 286 934 291 923 271 9420 321 897 291 931 316 897 291 940 283 924 284 500","payloadType":"str","x":490,"y":860,"wires":[["5026362d.5a8b3"]]},{"id":"5026362d.5a8b3","type":"ook_split","z":"889080a6.ff07e","x":660,"y":900,"wires":[["edff649b.e003e"]]},{"id":"f81f5724.b9b6e","type":"file","z":"889080a6.ff07e","name":"","filename":"getoutput","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1230,"y":560,"wires":[[]]},{"id":"26472ec4.4b5cc2","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]