node-red/example-flow/Example.json
[{"id":"756421e0.dc58c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1fa41818.95cf6","type":"mqtt in","z":"756421e0.dc58c8","name":"","topic":"radio_transceiver/radio/433toMQTT","qos":"2","datatype":"auto","broker":"da7d50b9.242c9","x":380,"y":380,"wires":[["15eedf63.ac0101"]]},{"id":"b9918b0f.da604","type":"mqtt out","z":"756421e0.dc58c8","name":"","topic":"radio_transceiver/radio/MQTTto433","qos":"","retain":"","broker":"da7d50b9.242c9","x":1460,"y":560,"wires":[]},{"id":"89b9186a.bf15b","type":"mqtt in","z":"756421e0.dc58c8","name":"","topic":"home/steckdose/schalten","qos":"2","datatype":"auto","broker":"da7d50b9.242c9","x":350,"y":560,"wires":[["af6a4e19.c2a98"]]},{"id":"502ebaf8.8a84b4","type":"function","z":"756421e0.dc58c8","name":"Binary Decoder","func":"function binaryToNumber(input) {\n    return input.reduceRight(\n        ((previousValue, currentValue, currentIndex, array) => \n            Math.pow(2, (array.length - currentIndex - 1)) * currentValue + previousValue), 0);\n}\n\nif(msg.payload.length != 40){\n    return;\n}\n\nlet temperatureBits = msg.payload.slice(16, 28);\nlet temperature = (binaryToNumber(temperatureBits)/10)-90;\nlet temperatureMsg = {payload: (temperature-32)*(5/9)};\n\nlet humidityBits1 = msg.payload.slice(28, 32);\nlet humidityBits2 = msg.payload.slice(32, 36);\nlet humidity = binaryToNumber(humidityBits1)*10+binaryToNumber(humidityBits2);\nlet humidityMsg = {payload: humidity};\n\nreturn [temperatureMsg, humidityMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1180,"y":380,"wires":[["2baf9a12.4be72e"],["591d7634.651448"]]},{"id":"15eedf63.ac0101","type":"ook_decode","z":"756421e0.dc58c8","name":"Weather Station Timings Decoder","startPattern":"[9000]","zeroPattern":"[500, 2000]","onePattern":"[500, 4000]","acceptedDeviation":0.3,"x":880,"y":380,"wires":[["502ebaf8.8a84b4"]]},{"id":"af6a4e19.c2a98","type":"function","z":"756421e0.dc58c8","name":"","func":"if (msg.payload === \"0\"){\n    return {payload: \"[0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,0,0,1]\"}\n}\nif(msg.payload === \"1\"){\n    return {payload: \"[0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,1,0,0]\"};\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":560,"wires":[["d3c9ebd1.064548"]]},{"id":"2baf9a12.4be72e","type":"mqtt out","z":"756421e0.dc58c8","name":"","topic":"home/weather/temperature","qos":"","retain":"","broker":"da7d50b9.242c9","x":1480,"y":320,"wires":[]},{"id":"591d7634.651448","type":"mqtt out","z":"756421e0.dc58c8","name":"","topic":"home/weather/humidity","qos":"","retain":"","broker":"da7d50b9.242c9","x":1490,"y":420,"wires":[]},{"id":"d3c9ebd1.064548","type":"ook_encode","z":"756421e0.dc58c8","name":"Wireless Socket Timings Encoder","startPattern":"[9000]","zeroPattern":"[300, 900]","onePattern":"[900, 300]","x":860,"y":560,"wires":[["b9918b0f.da604"]]},{"id":"da7d50b9.242c9","type":"mqtt-broker","z":"","name":"mosquitto_local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]